In [1]:
import pandas as pd
import os

from modules.splitting_csv import split, print_nb_row
from modules.loader import Loader

In [2]:
loader = Loader(
    "https://stdatalake011.blob.core.windows.net/public/A2019_12.csv",
    "../datas/RAW/"
)
loader.ensure_data_loaded()

Le fichier existe déjà

'A2019_12.csv'

In [3]:
# print_nb_row("../datas/RAW/A2019_12.csv")
# # Resultat: 35563652

if not os.path.exists("../datas/RAW/A2019_12_1.csv"):
    split(
            open("../datas/RAW/A2019_12.csv", 'r'),
            delimiter=';',
            row_limit=3600000, # trois million six cent mille
            output_name_template='A2019_12_%s.csv',
            output_path="../datas/RAW/"
        )

In [5]:
ameli = pd.read_csv("../datas/RAW/A2019_12_1.csv", delimiter=";")
ameli.head()

,FLX_ANN_MOI,ORG_CLE_REG,AGE_BEN_SNDS,BEN_RES_REG,BEN_CMU_TOP,BEN_QLT_COD,BEN_SEX_COD,DDP_SPE_COD,ETE_CAT_SNDS,ETE_REG_COD,...,PSE_ACT_CAT,PSE_SPE_SNDS,PSE_STJ_SNDS,PRE_INS_REG,PSP_ACT_SNDS,PSP_ACT_CAT,PSP_SPE_SNDS,PSP_STJ_SNDS,TOP_PS5_TRG,Unnamed: 55
0,201912,11,50,11,9,1,2,0,1111,84,...,0,33,2,99,0,99,0,9,9,NaN
1,201912,24,80,75,9,1,1,0,9999,99,...,2,0,9,75,0,1,1,9,9,NaN
2,201912,99,60,99,9,1,1,0,9999,99,...,2,0,1,99,0,0,35,9,9,NaN
3,201912,99,60,52,9,1,2,0,9999,99,...,2,0,1,99,0,0,0,2,9,NaN
4,201912,53,70,53,0,1,2,121,9999,99,...,2,0,1,99,19,0,0,2,1,NaN